html {
    box-sizing: border-box;
    background: #000000;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
}

body {
    background: #fff;
    color: #000;
    font-family: Georgia, 'Times New Roman';
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin: 0;
    perspective: 1000px;
}

footer {
    background: #c41616;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 25px 25px;
}

footer p {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 5rem;
    margin: 0;
    padding: 1rem;
    text-transform: capitalize;
    text-align: center;
}

section.gallery > h2, section.portraits > h2, section.artists > h2{
    border-bottom: 5px solid black;
}


.hero-banner {
    background-image: url('images/tinified/hero-banner.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 1px 0;
    align-content: center;
    overflow: hidden;
}

.hero-banner h1 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 6rem;
    height: auto;
    color: #f1f1f1;
    text-transform: capitalize;
    text-align: center;
    top: 50px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

.banner-statement {
    font-family: Arial, Helvetica;
    font-weight: normal;
    font-size: 50px;
    height: auto;
    color: #f1f1f1;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

.hero-banner p {
    font-family: Arial, Helvetica;
    font-weight: normal;
    font-size: 2rem;
    height: auto;
    color: #f1f1f1;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

.statement {
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
}

.statement-container {
    text-align: left;
    border-bottom: 2px solid;
    margin: 0 250px;
    padding: 1rem;
    border-top: 2px solid;
}

.gallery {
    background-color: #c41616;
    padding: 0 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.tattoos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    justify-items: center;
    padding: 20px 40px;
}

.tattoo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: auto;
    padding-bottom: 40px;
    align-items: center;
}

.tattoo-container img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    border: 2px solid #000;
}

.tattoo-container > p {
    color: black;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.portraits {
    display: flex;
    flex-direction: row;
    background: #242424;
    color: #f1f1f1;
    text-align: center;
    justify-content: space-between;
    margin: 0 3rem;
    padding: 0;
    padding-top: 20px;
}

.card {
    width: 300px;
    height: 400px;
    color: #fff;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    cursor: pointer;
    perspective: 1000px;
    transform: translateZ(0);
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front {
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 25px;
}

.card-back {
    background-color: lightgray;
    color: black;
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 25px;
    transform: rotateY(180deg);
}

.card-back p {
    padding: 0 0.5rem;
    margin: 1rem 0;
    margin-top: 2rem;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2rem;
}

.portraits img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
}

.artists {
    background: #242424;
    color: #f1f1f1;
    text-align: center;
    padding: 5rem;
    padding-top: 0;
}

@media only screen and (max-width: 425px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 16px;
    }

    .hero-banner {
        height: 100vh;
        padding: 0 1rem;
        margin: 0;
    }

    .hero-banner h1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    .hero-banner p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin: 0 auto;
        padding: 0 1rem;
    }


    .statement-container {
        margin: 0;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .tattoos {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin: 0;
        align-items: center;

    }

    .tattoo-container img, .portraits img {
        width: 250px;
        height: 300px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin: 0;
        align-items: center;
    }

    .card-front {
        width: 250px;
        height: 300px;
    }

    .card-back {
        font-size: 16px;
        line-height: 0.5rem;
        width: 250px;
        height: 300px;
    }

    .card-back p {
        line-height: 1.2rem;
    }

    .artists {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .portraits {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

}

@media only screen and (min-width: 426px) and (max-width: 768px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 16px;
    }

    .hero-banner {
        height: 100vh;
        padding: 0 1rem;
        margin: 0;
    }

    .hero-banner h1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    .hero-banner p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .statement-container {
        margin: 0;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .tattoos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem 0;
        margin: 0;
        align-items: center;

    }

    .tattoo-container img {
        width: 450px;
        height: 300px;
    }

    .portraits img {
        width: 250px;
        height: 300px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin: 0;
        align-items: center;
    }

    .card-front {
        width: 250px;
        height: 300px;
    }

    .card-back {
        font-size: 16px;
        line-height: 0.5rem;
        width: 250px;
        height: 300px;
    }

    .card-back p {
        line-height: 1.2rem;
    }

    .artists {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .portraits {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 16px;
    }

    .hero-banner {
        height: 100vh;
        padding: 0 1rem;
        margin: 0;
    }

    .hero-banner h1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    .hero-banner p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .statement-container {
        margin: 0;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .tattoos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 0;
        margin: 0;
        align-items: center;

    }

    .tattoo-container img {
        width: 450px;
        height: 300px;
    }

    .portraits img {
        width: 250px;
        height: 300px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin: 0;
        align-items: center;
    }

    .card-front {
        width: 250px;
        height: 300px;
    }

    .card-back {
        font-size: 16px;
        line-height: 0.5rem;
        width: 250px;
        height: 300px;
    }

    .card-back p {
        line-height: 1.2rem;
    }

    .artists {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .portraits {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
}
